







label, input {
  width:100%;
  margin-bottom:1em;
}

#big {
  font-size:2em;
 


}
#small {
  font-size:1.4em;
 
}

#img {
  font-size:1.14141414em;
}

.float {
  float:left;
  width:400px;
  padding:1em;
}

.middle {
  
}
